img {
    width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    width: 960px;
    height: auto;
    left: 50%;
    margin-left: -480px;
    background-color: antiquewhite;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #eee;
}

header h1 {
    position: relative;
    text-align: center;
}

nav {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f00;
}

nav form {
    position: relative;
    width: 100%;
    height: auto;
}

nav form>div {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 80px;
}

ul#content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
}

ul#content li {
    list-style-type: none;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #00f;
    padding-bottom: 30px;
    box-sizing: border-box;
}

ul#content li span {
    display: inline-block;
    position: relative;
    height: 100%;
    /* 指的是跟內部的一樣大而不是外面的(因為是inline) */
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 0.4em;
    /*    內文適用 line-height: 1.75em;*/
    box-sizing: border-box;
    text-align: center;
}

ul#content li span.ProductNum {
    width: 47.5%;
}

ul#content li span.Date {
    width: 35%;
}

ul#content li span.Def-Icon {
    width: 14%;
}

ul#content li>div {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #eee;
    left: 50%;
    margin-left: -400px;
}

div#more {
    position: relative;
    width: 600px;
    height: 60px;
    left: 50%;
    margin-left: -300px;
    padding: 1px;
    box-sizing: border-box;
    background-color: #eee;
}

div#more h3 {
    position: relative;
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

footer p {
    position: relative;
    text-align: center;
}