img {
    width: 100%;
    height: auto;
}

body {
    background-image: url(../img/always_grey.png);
    background-repeat: repeat;
}

.wrapper {
    position: relative;
    width: 960px;
    height: auto;
    left: 50%;
    margin-left: -480px;
    border: 0;
}


/* 如果使用者之視窗寬度 <= 960px 576px，將會再載入這裡的 CSS。*/

@media screen and (min-width:576px) and (max-width: 960px) {
    /*<960用%表示(和手機還沒有關係喔!)*/
    .wrapper {
        position: relative;
        width: 90%;
        height: auto;
        left: 50%;
        margin-left: -45%;
        border: 0;
    }
}

@media screen and (max-width:576px) {
    /*<960用%表示(和手機還沒有關係喔!)*/
    .wrapper {
        position: relative;
        width: 100%;
        height: auto;
        left: 50%;
        margin-left: -50%;
        border: 0;
    }
}

header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #3f88c5;
    background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position: 15% 75%;
}

header h1 {
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Rokkitt', serif;
    letter-spacing: 3px;
    font-size: 3em;
}

nav {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #003D79;
    box-shadow: 0px 2px 10px 5px #000;
    /*#ffff5f;*/
}

nav form {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

@media screen and (max-width:576px) {
    /*    手機會影響表單的各項大小跟著縮*/
    nav form {
        display: inline;
        position: relative;
        width: 100%;
        height: auto;
    }
}

nav form>div {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 80px;
    flex: 1;
}

@media screen and (max-width:576px) {
    /*    手機會影響表單的各項大小跟著縮*/
    nav form>div {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 80px;
        flex: none;
    }
}

ul#content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
}

ul#content li {
    list-style-type: none;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    box-sizing: border-box;
}

ul#content li#content-head {
    list-style-type: none;
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

@media screen and (max-width: 576px) {
    ul#content li#content-head {
        display: none;
    }
}

ul#content li#content-head span {
    flex: 1;
    font-size: 1.2em;
    text-align: center;
}

ul#content li h3 {
    display: flex;
    margin: 0;
    outline: none;
    /*    選取時的外框*/
    padding: 0.5em 0;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}

ul#content li span {
    display: inline-block;
    position: relative;
    height: 100%;
    /* 指的是跟內部的一樣大而不是外面的(因為是inline) */
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 0.4em;
    /*    內文適用 line-height: 1.75em;*/
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

@media screen and (min-width:576px) and (max-width: 960px) {
    /*<960用%表示(和手機還沒有關係喔!)*/
    ul#content li span {
        display: inline-block;
        position: relative;
        height: 100%;
        /* 指的是跟內部的一樣大而不是外面的(因為是inline) */
        font-size: 1.1em;
        padding: 0;
        margin: 0;
        border: 0;
        padding-top: 0.4em;
        /*        padding: 變成1.1*0.4去做*/
        /*    內文適用 line-height: 1.75em;*/
        box-sizing: border-box;
        text-align: center;
        color: #fff;
    }
}

@media screen and (max-width:576px) {
    ul#content li span {
        display: inline-block;
        position: relative;
        height: 100%;
        /* 指的是跟內部的一樣大而不是外面的(因為是inline) */
        font-size: 1em;
        padding: 0;
        margin: 0;
        border: 0;
        padding-top: 0.4em;
        /*        padding: 變成1.1*0.4去做*/
        /*    內文適用 line-height: 1.75em;*/
        box-sizing: border-box;
        text-align: center;
        color: #fff;
    }
}

ul#content li span.ProductNum {
    flex: 1;
}

ul#content li span.Date {
    flex: 1;
}

ul#content li span.Def-Icon {
    flex: 1;
    color: #fff;
}

ul#content li>div {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #eee;
    left: 50%;
    margin-left: -400px;
}

@media screen and (max-width: 960px) {
    ul#content li>div {
        position: relative;
        width: 90%;
        height: auto;
        background-color: #eee;
        left: 50%;
        margin-left: -45%;
    }
}

div#more {
    position: relative;
    width: 90%;
    height: 60px;
    left: 50%;
    margin-left: -45%;
    padding: 1px;
    box-sizing: border-box;
    background-color: #9d9d9d;
}

div#more h3 {
    position: relative;
    text-align: center;
}

div#Radio input {
    text-align: center;
    color: #fff;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}

footer p {
    position: relative;
    text-align: center;
    color: #eee;
}


/*程式碼media query寫在各個得下面
做兩次
*/