.wrapper {
    position: relative;
    top: 200px;
    left: 50%;
    width: 576px;
    height: auto;
    margin-left: -288px;
    background-color: rgba(34, 85, 136, 0.2);
    box-shadow: 15px 15px 30px 2px rgba(0, 0, 0, 0.5)
}

@media screen and (max-width:576px) {
    .wrapper {
        position: relative;
        top: 200px;
        left: 50%;
        width: 90%;
        height: auto;
        margin-left: -45%;
        background-color: rgba(34, 85, 136, 0.2);
    }
}

.pure-form {
    border: 1px solid #fc2;
}

.pure-form fieldset {
    position: relative;
    left: 50%;
    width: 90%;
    height: auto;
    margin-left: -45%;
}

.pure-form legend {
    position: relative;
    height: 100px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
    color: #fc2;
    font-size: 2em;
    letter-spacing: 5px;
    border-bottom: 2px dashed #fc2;
}

.pure-form-stacked label {
    position: relative;
    padding: 5px;
    color: #fc2;
}

.pure-form-stacked input[type=text],
.pure-form-stacked input[type=password] {
    display: inline-block;
    position: relative;
    width: 100%;
    color: #eee;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #258;
}

.pure-button-primary {
    display: block;
    position: relative;
    width: 30%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}